footer
{
    img{
        height: 30px;
    }
    h1{
        font-size: 20px;
        font-weight: bold;
    }

    .copyright-area
    {
        p{
            font-size: 13px;
            margin: 0 5px;
        }
    }
}