nav
{
    height: 75px;
    .wrapper
    {
        img{
            height: 50px;
        }
        
        .sign-in-btn
        {
            padding: 10px 20px;
            border: 1px solid blue;
            border-radius: 25px;
            background-color: white;

        }

        
    }
        
}